<h1> Tarea 1 </h1>
<h3> Estadística </h3>


<p>Esta tarea consiste en analizar el dataset 'credit.csv', que contiene un conjunto de datos sobre impagos en créditos bancarios. El dataset contiene una serie de variables numéricos, otras categóricas y la variable impago ('default').</p>

<p>Sobre este dataset tenéis que calcular:</p>

- <p style='color:cyan'> Probabilidad de impago, P(default=2)</p>

In [2]:
import pandas as pd

credit = pd.read_csv('credit.csv')
credit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   checking_balance      1000 non-null   object
 1   months_loan_duration  1000 non-null   int64
 2   credit_history        1000 non-null   object
 3   purpose               1000 non-null   object
 4   amount                1000 non-null   int64
 5   savings_balance       1000 non-null   object
 6   employment_length     1000 non-null   object
 7   installment_rate      1000 non-null   int64
 8   personal_status       1000 non-null   object
 9   other_debtors         1000 non-null   object
 10  residence_history     1000 non-null   int64
 11  property              1000 non-null   object
 12  age                   1000 non-null   int64
 13  installment_plan      1000 non-null   object
 14  housing               1000 non-null   object
 15  existing_credits      1000 non-null   int64
 16  default               1000 non-null   int64
 17  dependents            1000 non-null   int64
 18  telephone             1000 non-null   object
 19  foreign_worker        1000 non-null   object
 20  job                   1000 non-null   object
dtypes: int64(8), object(13)
memory usage: 164.2+ KB

In [3]:
credit.head()

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_length,installment_rate,personal_status,other_debtors,...,property,age,installment_plan,housing,existing_credits,default,dependents,telephone,foreign_worker,job
0,< 0 DM,6,critical,radio/tv,1169,unknown,> 7 yrs,4,single male,none,...,real estate,67,none,own,2,1,1,yes,yes,skilled employee
1,1 - 200 DM,48,repaid,radio/tv,5951,< 100 DM,1 - 4 yrs,2,female,none,...,real estate,22,none,own,1,2,1,none,yes,skilled employee
2,unknown,12,critical,education,2096,< 100 DM,4 - 7 yrs,2,single male,none,...,real estate,49,none,own,1,1,2,none,yes,unskilled resident
3,< 0 DM,42,repaid,furniture,7882,< 100 DM,4 - 7 yrs,2,single male,guarantor,...,building society savings,45,none,for free,1,1,2,none,yes,skilled employee
4,< 0 DM,24,delayed,car (new),4870,< 100 DM,1 - 4 yrs,3,single male,none,...,unknown/none,53,none,for free,2,2,2,none,yes,skilled employee

In [23]:
default = credit['default'].value_counts()
type(default)

pandas.core.series.Series

In [27]:
PImpago = default.loc[2] / credit['default'].value_counts().sum()
PImpago

0.3

- <p style="color:cyan">Probabilidad de impago condicionado a la variable 'housing' (considerad todos los valores de la variable)</p>

In [40]:
housing_Default = pd.crosstab(index=credit['default'], columns=credit['housing'])
N = len(credit)
housing_Default

housing  for free  own  rent
default
1              64  527   109
2              44  186    70

In [41]:
hvdFrec = housing_Default / N
hvdFrec

housing  for free    own   rent
default
1           0.064  0.527  0.109
2           0.044  0.186  0.070

- <p style = 'color:cyan'>Probabilidad de impago condicionado a las variables 'dependents'=2 y 'telephone'='none'</p>

In [42]:
default_DepTel = pd.crosstab(index=credit['default'], columns=[credit['dependents'],credit['telephone']])
default_DepTel

dependents    1         2
telephone  none  yes none yes
default
1           349  242   60  49
2           152  102   35  11

In [46]:
default_DepTel[2]['none']

default
1    60
2    35
Name: none, dtype: int64

- <p style = 'color:cyan'>Probabilidad de impago condicionado a las variables 'dependents'=1, 'telephone'='yes' y 'personal_status'='female'</p>

In [47]:
default_DepTelPs = pd.crosstab(index=credit['default'], columns=[credit['dependents'],credit['telephone'],credit['personal_status']])
default_DepTelPs

dependents                  1                                                \
telephone                none                                           yes
personal_status divorced male female married male single male divorced male
default
1                          14    123           43         169            13
2                          12     69           15          56             8

dependents                                                  2         \
telephone                                                none
personal_status female married male single male divorced male female
default
1                   70           23         136             2      5
2                   34            9          51             0      5

dependents                                                                  \
telephone                                          yes
personal_status married male single male divorced male female married male
default
1                          0          53             1      3            1
2                          1          29             0      1            0

dependents
telephone
personal_status single male
default
1                        44
2                        10

In [49]:
default_DepTelPs[1]['yes']['female']

default
1    70
2    34
Name: female, dtype: int64

- <p style = 'color:red'>Además, debéis comprobar si las variables 'housing' y 'property' son independientes.</p>

In [57]:
hous_prop = pd.crosstab(index=credit['housing'], columns=credit['property']) / N
hous_prop

property  building society savings  other  real estate  unknown/none
housing
for free                     0.002  0.001        0.001         0.104
own                          0.184  0.271        0.226         0.032
rent                         0.046  0.060        0.055         0.018

In [64]:
# P(H,P) == P(H)*P(P)

hous_prop_housing = hous_prop / hous_prop.sum()
hous_prop_housing

property  building society savings     other  real estate  unknown/none
housing
for free                  0.008621  0.003012     0.003546      0.675325
own                       0.793103  0.816265     0.801418      0.207792
rent                      0.198276  0.180723     0.195035      0.116883

In [65]:
hous_prop.sum(axis=1)

housing
for free    0.108
own         0.713
rent        0.179
dtype: float64