<h1> Tarea 1 </h1>
<h3> Estadística </h3>


<p>Esta tarea consiste en analizar el dataset 'credit.csv', que contiene un conjunto de datos sobre impagos en créditos bancarios. El dataset contiene una serie de variables numéricos, otras categóricas y la variable impago ('default').</p>

<p>Sobre este dataset tenéis que calcular:</p>

- <p style='color:cyan'> Probabilidad de impago, P(default=2)</p>

In [53]:
import pandas as pd

credit = pd.read_csv('credit.csv')
credit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   checking_balance      1000 non-null   object
 1   months_loan_duration  1000 non-null   int64
 2   credit_history        1000 non-null   object
 3   purpose               1000 non-null   object
 4   amount                1000 non-null   int64
 5   savings_balance       1000 non-null   object
 6   employment_length     1000 non-null   object
 7   installment_rate      1000 non-null   int64
 8   personal_status       1000 non-null   object
 9   other_debtors         1000 non-null   object
 10  residence_history     1000 non-null   int64
 11  property              1000 non-null   object
 12  age                   1000 non-null   int64
 13  installment_plan      1000 non-null   object
 14  housing               1000 non-null   object
 15  existing_credits      1000 non-null   int64
 16  default               1000 non-null   int64
 17  dependents            1000 non-null   int64
 18  telephone             1000 non-null   object
 19  foreign_worker        1000 non-null   object
 20  job                   1000 non-null   object
dtypes: int64(8), object(13)
memory usage: 164.2+ KB

In [54]:
credit.head()

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_length,installment_rate,personal_status,other_debtors,...,property,age,installment_plan,housing,existing_credits,default,dependents,telephone,foreign_worker,job
0,< 0 DM,6,critical,radio/tv,1169,unknown,> 7 yrs,4,single male,none,...,real estate,67,none,own,2,1,1,yes,yes,skilled employee
1,1 - 200 DM,48,repaid,radio/tv,5951,< 100 DM,1 - 4 yrs,2,female,none,...,real estate,22,none,own,1,2,1,none,yes,skilled employee
2,unknown,12,critical,education,2096,< 100 DM,4 - 7 yrs,2,single male,none,...,real estate,49,none,own,1,1,2,none,yes,unskilled resident
3,< 0 DM,42,repaid,furniture,7882,< 100 DM,4 - 7 yrs,2,single male,guarantor,...,building society savings,45,none,for free,1,1,2,none,yes,skilled employee
4,< 0 DM,24,delayed,car (new),4870,< 100 DM,1 - 4 yrs,3,single male,none,...,unknown/none,53,none,for free,2,2,2,none,yes,skilled employee

In [55]:
default = credit['default'].value_counts()
type(default)

pandas.core.series.Series

In [56]:
PImpago = default.loc[2] / credit['default'].value_counts().sum()
PImpago

0.3

- <p style="color:cyan">Probabilidad de impago condicionado a la variable 'housing' (considerad todos los valores de la variable)</p>

In [57]:
housing_Default = pd.crosstab(index=credit['default'], columns=credit['housing'])
N = len(credit)
housing_Default

housing  for free  own  rent
default
1              64  527   109
2              44  186    70

In [58]:
hvdFrec = housing_Default.div(housing_Default.sum())
hvdFrec

housing  for free      own      rent
default
1        0.592593  0.73913  0.608939
2        0.407407  0.26087  0.391061

In [59]:
hvdFrec.loc[hvdFrec.index == 2]

housing  for free      own      rent
default
2        0.407407  0.26087  0.391061

- <p style = 'color:cyan'>Probabilidad de impago condicionado a las variables 'dependents'=2 y 'telephone'='none'</p>

In [60]:
default_DepTel = pd.crosstab(index=credit['default'], columns=[credit['dependents'],credit['telephone']])
default_DepTel

dependents    1         2
telephone  none  yes none yes
default
1           349  242   60  49
2           152  102   35  11

In [61]:
dep_tel_vs_default = default_DepTel.div(default_DepTel.sum())
dep_tel_vs_default

dependents         1                   2
telephone       none       yes      none       yes
default
1           0.696607  0.703488  0.631579  0.816667
2           0.303393  0.296512  0.368421  0.183333

In [62]:
dep_tel_vs_default[2]['none'][2]

0.3684210526315789

- <p style = 'color:cyan'>Probabilidad de impago condicionado a las variables 'dependents'=1, 'telephone'='yes' y 'personal_status'='female'</p>

In [63]:
default_DepTelPs = pd.crosstab(index=credit['default'], columns=[credit['dependents'],credit['telephone'],credit['personal_status']])
default_DepTelPs

dependents                  1                                                \
telephone                none                                           yes
personal_status divorced male female married male single male divorced male
default
1                          14    123           43         169            13
2                          12     69           15          56             8

dependents                                                  2         \
telephone                                                none
personal_status female married male single male divorced male female
default
1                   70           23         136             2      5
2                   34            9          51             0      5

dependents                                                                  \
telephone                                          yes
personal_status married male single male divorced male female married male
default
1                          0          53             1      3            1
2                          1          29             0      1            0

dependents
telephone
personal_status single male
default
1                        44
2                        10

In [64]:
dep_tel_perstatus_vs_default = default_DepTelPs.div(default_DepTelPs.sum())
dep_tel_perstatus_vs_default

dependents                  1                                     \
telephone                none
personal_status divorced male    female married male single male
default
1                    0.538462  0.640625     0.741379    0.751111
2                    0.461538  0.359375     0.258621    0.248889

dependents                                                        \
telephone                 yes
personal_status divorced male    female married male single male
default
1                    0.619048  0.673077      0.71875    0.727273
2                    0.380952  0.326923      0.28125    0.272727

dependents                  2                                                \
telephone                none                                           yes
personal_status divorced male female married male single male divorced male
default
1                         1.0    0.5          0.0    0.646341           1.0
2                         0.0    0.5          1.0    0.353659           0.0

dependents
telephone
personal_status female married male single male
default
1                 0.75          1.0    0.814815
2                 0.25          0.0    0.185185

In [65]:
dep_tel_perstatus_vs_default[1]['yes']['female'][2]

0.3269230769230769

- <p style = 'color:cyan'>Además, debéis comprobar si las variables 'housing' y 'property' son independientes (P(H,P) == P(H)*P(P)).</p>

In [73]:
# P(H) y P(P)
prob_housing = pd.DataFrame(credit['housing'].value_counts(normalize=True))
prob_prop = pd.DataFrame(credit['property'].value_counts(normalize=True))
prob_housing

          proportion
housing
own            0.713
rent           0.179
for free       0.108

In [79]:
prob_prop

                          proportion
property
other                          0.332
real estate                    0.282
building society savings       0.232
unknown/none                   0.154

In [81]:
pP_pH = pd.DataFrame(prob_housing.values @ prob_prop.values.T)
pP_pH

          0         1         2         3
0  0.236716  0.201066  0.165416  0.109802
1  0.059428  0.050478  0.041528  0.027566
2  0.035856  0.030456  0.025056  0.016632

In [66]:
# P(H,P)
hous_prop = pd.crosstab(index=credit['housing'], columns=credit['property']) / N
hous_prop

property  building society savings  other  real estate  unknown/none
housing
for free                     0.002  0.001        0.001         0.104
own                          0.184  0.271        0.226         0.032
rent                         0.046  0.060        0.055         0.018

#### Como podemos observar, ambos dataframes son distintos, por lo que las variables housing y property no están correlacionadas.